{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About us</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
 <link href="../assets/img/logo.png" rel="icon">
  <link href="../assets/img/logo.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- =======================================================
  * Template Name: Restaurantly
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Shadows+Into+Light+Two&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Shadows+Into+Light+Two&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');


.aboutme {
  display: flex;
  flex-direction: row; /* Places the image and text side by side */
  align-items: center; /* Vertically aligns the content */
}

#photo {
  width: 600px; /* Adjust the width as needed */
  height: 850px;
  margin-right: 20px; /* Adds space between the image and the text */
}

.title, .words-container {
  display: flex;
  flex-direction: column; /* Stacks the title and words vertically */
  align-items: center;
}

.title {
  font-size: 100px;
  font-family: "Yellowtail", cursive;
  text-align: center;
}

.words {
  font-family: "Sour Gummy", sans-serif;
  font-size: 30px;
  text-align: center;
}

.red-name {
  color: red;
}


</style>

</head>

<body class="starter-page-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="#" style="color:White">contact@darshan.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span style="color:White" >+91 9876543210</span></i>
        </div>
        <div class="languages d-none d-md-flex align-items-center">
          <ul>
            <li>En</li>
            <li><a href="#">Te</a></li>
          </ul>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="/Home" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="../assets/img/logo.png" alt="logo.png">
            <img src="../assets/img/logo1.PNG" alt="logo1.PNG">
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/Home"><strong>HOME</strong><br></a></li>
            <li><a href="#" class="active"><strong>ABOUT US</strong></a></li>
            <li><a href="#"><strong>DONATIONS</strong></a></li>
            <li><a href="#"><strong>OUR POJA</strong></a></li>
            <li><a href="#"><strong>VEDAS</strong></a></li>
            <li class="dropdown"><a href="#"><strong>SLOKAS</strong> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                
                <li class="dropdown"><a href="#"><span>Slokas</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="https://shlokam.org/index/">Shlokam</a></li>
                    <li><a href="https://shlokam.org/tag/stotram/">Stotram</a></li>
                    <li><a href="https://shlokam.org/tag/mantra/">Mantram</a></li>
                    <li><a href="https://shlokam.org/tag/suktam/">Suktam</a></li>
                    <li><a href="https://shlokam.org/category/Upanishad/">Upanishads</a></li>
                  </ul>
                </li>
                <li><a href="https://shlokam.org/bhagavad-gita/">Bhagavad Gita</a></li>
                <li><a href="https://www.valmikiramayan.net/">Ramayanam</a></li>
                <li><a href="https://www.srimadbhagavatamclass.com/">Bhagavatam</a></li>
                <li class="dropdown"><a href="#"><span>Anushtanam</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="https://stotranidhi.com/puja-vidhanamu/">Pujalu</a></li>
                    <li><a href="https://stotranidhi.com/vratalu-in-telugu/">Vratalu</a></li>
                    <li><a href="https://stotranidhi.com/anubandham/sandhya-vandanam-in-telugu/">Sandhya Vandanam</a></li>
                  </ul>
                </li>  
              </ul>
            </li>
            <li class="dropdown"><a href="#"><strong>Books</strong> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="https://stotranidhi.com/books/">Printed Books</a></li>
                <li><a href="https://stotranidhi.com/ebooks/">E-bOOKS</a></li>
                <li><a href="https://stotranidhi.com/errata/">Errata</a></li>
              </ul>
            </li>  
              <li><a href="/Contactus"><strong>Contact</strong></a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>
  <main class="main">


    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <!--<img src="https://tinyurl.com/yhues2p3" class="img-fluid about-img" alt=""> -->
            <img src="../assets/img/States/OD/1.0.jpg" class="img-fluid about-img" width="640" height="00">
           <br/><br/> <a href="/Contactus"><button type="button" class="btn btn-outline-danger btn-lg">Contact US</button>
           </a>
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <div class="title">ABOUT US</div>
            
            <p>Darshan, We are group of volunteers who wants to gather as much information as possible regarding Hindu temples in India and provide in our channel <strong>(Our Temples Info)</strong> and website – <strong>www.darshan.com</strong></p>

            <div class="title">objective</div>

            <ul>
              <li><i class="bi bi-check2-all"></i>
              <span>Our objective is to have every devotee to visit all temples and get blessings. </span></li>
              
              <li><i class="bi bi-check2-all"></i>
               <span>Though we try to provide as accurate information as possible, but validation of the information is not guaranteed.</span></li>

              <li><i class="bi bi-check2-all"></i> 
                <span> This does not mean that you will not find any useful information about temples however, darshan.info will not guarantee the validity of the information.</span></li>
            </ul>
                               
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

       
  </main>

   <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/Home" class="logo d-flex align-items-center">
            <span class="sitename"><img src="../assets/img/logo2.png" alt=""></span>
        </a>
          <div class="footer-contact pt-3">
            <p>Hyderabad</p>
            <p>Telangana, India</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 9876543210</span></p>
            <p><strong>Email:</strong> <span>info@darshan.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Slokas</a></li>
            <li><a href="#">Vedas</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Bhagavad Gita</a></li>
            <li><a href="#">Ramayanam</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our Darshan and services!</p>
          <form action="/templates/forms/contact.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Darshan - 2024</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="">Subbu</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
{#  <div id="preloader"></div>#}

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>