{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Jyotirlingas</title>
  <meta name="description" content="Explore famous temples across India with interactive modals and auto-sliding galleries.">

  <!-- Favicons -->
  <link href="../assets/img/logo.png" rel="icon">
  <link href="../assets/img/logo.png" rel="apple-touch-icon">

  <!-- Fonts & Bootstrap CSS -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/states.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>


<body class="index-page">
  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="#" style="color:White">info.darshan@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span style="color:White" >+91 9876543210</span></i>
        </div>
        
        
    <div class="read-in-lang-links">
    <span class="read-in-lang-label">Read in:</span>
            <a href="#" class="active-langauge">English</a>
    <span class="read-in-lang-sep">|</span>
            <a href="#">हिंदी</a>
    <span class="read-in-lang-sep">|</span>
            <a href="#">తెలుగు</a>
    <span class="read-in-lang-sep">|</span>
            <a href="#">ଓଡିଆ</a>
    <span class="read-in-lang-sep">|</span>
            <a href="#">ગુજરાતી</a>
    <span class="read-in-lang-sep">|</span>
            <a href="#">தமிழ்</a>
  </div>
      </div>
   
</div><!-- End Top Bar -->
    
  </header>
<main class="main">


  <div class="banner-header">
    <h1 class="m-0" style="color: #f3ea3c"><strong>LIST OF 12 DWADASHA JYOTIRLINGA SHIVA TEMPLE</strong></h1>
    <p class="m-0 mt-2 text-light opacity-75"><!-- 1. The Audio Element -->
      <audio id="OmAudio" loop src="../assets/audio/Om Chanting.mp3"></audio>

      <!-- 2. The Clickable Icon Button -->
      <span id="audioToggle" style="font-size: 20px; display: flex; align-items: center; cursor: pointer;">
          <img src="../assets/img/unMute.svg" style="height: 24px; width: 24px; margin-left: 7px;">
      </span>
      <!--End of audio-->
      Scroll to explore more</p>
  </div>

  <div>
      <a style="color: #f70000;" href="/Home">Home  >>></a> Jyotirlingam    <br> <br>

    <marquee><b style= "color:red;">
        *** "ఓం నమః శివాయ !" *** "ॐ नमः शिवाय" *** "Om Namah Shivaya" *** "ஓம் நம சிவாய" *** "ಓಂ ನಮಃ ಶಿವಾಯ" *** "ઓમ નમઃ શિવાય" *** "ओम नमः शिवाय" *** "ഓം നമഃ ശിവായ" ***
    </b></marquee>
    </div>
    <br>

  <div class="container mb-5">
    <div class="row">

      <!-- 1. Somnath Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="member" data-target-modal="modal1">
          <img src="../assets/img/Jyotirlinga/1.Somnath.png" class="img-fluid" alt="Somnath Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>1. Somnath Temple - Somnath</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 2. Mallikarjuna Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="member" data-target-modal="modal2">
          <img src="../assets/img/Jyotirlinga/2.Mallikarjuna.jpg" class="img-fluid" alt="Mallikarjuna Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>2.Mallikarjuna Temple -Andhra Pradesh</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 3. Shree Mahakaleshwar Temple  -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="member" data-target-modal="modal3">
          <img src="../assets/img/Jyotirlinga/3.Mahakaleshwar.jpg" class="img-fluid" alt="Shree Mahakaleshwar Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>3.Shree Mahakaleshwar Temple - Ujjain</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 4. Shree omkareshwar temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="member" data-target-modal="modal4">
          <img src="../assets/img/Jyotirlinga/4.Omkareshwar.jpg" class="img-fluid" alt=" Shree omkareshwar temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>4.  Shree omkareshwar temple - Madhya Pradesh</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 5. Kedarnath Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="member" data-target-modal="modal5">
          <img src="../assets/img/Jyotirlinga/5.Kedarnath.jpg" class="img-fluid" alt="Kedarnath Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>5. Kedarnath Temple - Uttarakhand</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 6. Bhimashankar Temple-->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="member" data-target-modal="modal6">
          <img src="../assets/img/Jyotirlinga/6.bhimashankar.jpg" class="img-fluid" alt="Bhimashankar Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>6. Bhimashankar Temple - Maharashtra</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 7. Kashi Vishwanath Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="member" data-target-modal="modal7">
          <img src="../assets/img/Jyotirlinga/7. Viswanath.jpg" class="img-fluid" alt="Kashi Vishwanath Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>7. Kashi Vishwanath Temple - Uttar Pradesh</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 8. Trimbakeshwar Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="member" data-target-modal="modal8">
          <img src="../assets/img/Jyotirlinga/8.Trimbakeshwar.png" class="img-fluid" alt="Trimbakeshwar Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>8. Trimbakeshwar Temple - Maharashtra</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 9. Vaidyanath (Baidyanath) -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="member" data-target-modal="modal9">
          <img src="../assets/img/Jyotirlinga/9.Vaidyanath.png" class="img-fluid" alt="Vaidyanath (Baidyanath) Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>9. Vaidyanath (Baidyanath) Temple - Jharkhand</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 10. Nageshwar Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="member" data-target-modal="modal10">
          <img src="../assets/img/Jyotirlinga/10.Nageshwar.png" class="img-fluid" alt="Nageshwar Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>10. Nageshwar Temple - Gujarat</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 11. Rameshwaram Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="member" data-target-modal="modal11">
          <img src="../assets/img/Jyotirlinga/11.Rameshwaram.png" class="img-fluid" alt="Rameshwaram Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>11. Rameshwaram Temple - Tamil Nadu</h4></a>
            </div>            
          </div>
        </div>
      </div>

      <!-- 12. Grishneshwar Temple -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="member" data-target-modal="modal12">
          <img src="../assets/img/Jyotirlinga/12.Grishneshwar.png" class="img-fluid" alt="12. Grishneshwar Temple">
          <div class="member-info">
            <div class="member-info-content">
              <a href="javascript:void(0);"><h4>12. Grishneshwar Temple - Maharashtra</h4></a>
            </div>            
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- MODALS CONTAINER (12 Modals) -->
  
  <!-- Modal 1 -->
  <div class="modal-custom" id="modal1">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>1. Somnath Temple - Somnath</h2>
          <div class="desc-scroll">
            <p>The Somnath temple located in Prabhas Patan in Gujarat, India is first among the twelve jyotirlinga shrines of Shiva.</p>
            <p>It is an important pilgrimage and tourist spot in Gujarat. Destroyed and rebuilt several times in history, the present temple was reconstructed in Chaulukya style.</p>
            <p>One of the oldest temples in India, which was rebuilt 16 times. The temple is famous for its beautiful design and rich history.</p>
            <p>As per Shivpurana, the moon god Chandra (Somnath) once prayed to Lord Shiva to remove a curse given by his father-in-law, Daksha. Lord Shiva was happy with Chandra’s prayers and appeared as a Jyotirlinga to free him from the curse.</p>
            <p>The Somnath-Prabhasa tirtha has been one of the revered tirtha (pilgrimage) site for the Hindus. It is the famed Prabhasa site found in Brahmi script inscriptions in Maharashtra sites. It is mentioned in the poems of Kalidasa.</p>
            <p>The stunning architecture of the Somnath Temple has been reconstructed many times but still serves as a symbol of great faith and devotion among Hindu worshippers.</p>
            <p>People visiting the temple can offer prayers and aartis three times a day - in the morning, afternoon and evening. </p>
            <p>The temple lies close to the Arabian Sea and offers a mesmerising view to its visitors and devotees. The name of the temple is also mentioned in sacred books such as Shrimad Bhagwat Gita, Skanda Purana, Shiva Purana and Rig Vedas.</p>
            <p><strong>Temple Timings:</strong> 06:00 AM to 10:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Keshod Airport <br><strong>Nearest Railway Station:</strong> Veraval Railway Station</p>
            <p><strong>Special Attraction:</strong> The light and sound show ‘Joy Somnath’ every evening from 8 PM to 9 PM can be enjoyed by the visitors. Tickets cost ₹30 for adults and ₹10 for children under 10 years old.</p>
            <p><strong>Nearby Attractions:</strong> Bhalka Tirth, Triveni Sangam, Gir National Park, and Diu Island.</p>
          </div>
          <a href="https://somnath.org/" target="_blank" class="btn btn-outline-danger btn-sm">Official Website</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/1.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/1.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/1.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="modal-custom" id="modal2">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>2. Mallikarjuna- Srisailam</h2>
          <div class="desc-scroll">
            <p>Srisailam Mallikarjuna is located in the beautiful Nallamala hills. It is an important pilgrimage place for devotees of Lord Shiva and Goddess Parvati. This temple is also believed to be one of the 18 Maha Shakti Peethas, special temples for worshipping Shakti (the goddess).</p>
            <p>According to legends, Lord Shiva and Goddess Parvati came here in the forms of Mallikarjuna (Shiva) and Bhramaramba (Parvati) to stay close to their son, Kartikeya. </p>
            <p>Mallikarjuna Jyotirlinga stands as a testament to ancient Indian temple architecture because of its intricate carvings along with being a centre of great Shaivite shrines in India.</p>
            <h4>History and Spiritual Significance of Mallikarjuna Jyotirlinga Temple</h4>
            <p>The roots of the temple trace back to the time of King Harihara Raya of Vijayanagar. Several rulers and kings such as Ikshvakus, Pallavas, Chalukyas, and Reddis contributed to the construction and maintenance of the structure. Chhatrapati Shivaji was also involved in the restoration of shrines.</p>
            <p>According to the Shiva Purana, this sacred spot on Krauncha Mountain became home to a Jyotirlinga when Lord Shiva and Goddess Parvati appeared here to satisfy their son Kartikeya.</p>
            <p>Kartikeya was upset because his younger brother, Lord Ganesh, had married before him. Another legend claims that on a moonless night, Lord Shiva arrived here as Arjuna, while on a night with a full moon, Goddess Parvati appeared as Mallika. As a result, the location became known as Mallikarjuna.</p>
            <p><strong>Temple Timings:</strong> 04:30 AM to 10:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Rajiv Gandhi International Airport <br><strong>Nearest Railway Station:</strong> Markapur Road Railway Station</p>
            <p><strong>Special Attraction:</strong> Visitors can enjoy the Jathra Mahotsavam in the month of March every year.</p>
            <p>The only temple of Shiva where devotees are allowed to touch the Jyotirlinga called <strong>Sparsa Darshanam</strong>.</p>
            <p>Srisailam has many other names like Srigiri, Sirigiri, Sriparvatam and Srinagam.</p>
          </div>
          <a href="https://www.srisailadevasthanam.org/en-in/home" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/2.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/2.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/2.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="modal-custom" id="modal3">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>3. Mahakaleshwar - Ujjain</h2>
          <div class="desc-scroll">
            <p>Mahakaleshwar Jyotirlinga which is situated on the banks of Rudra Sagar Lake in the historic city of Ujjain in Madhya Pradesh is among the 12 most auspicious Jyotirlingas of India that is devoted to Lord Shiva.</p>
            <p>Pilgrims visit the Mahakaleshwar Jyotirlinga not only to offer prayers but also to get mesmerised by the exquisite and ancient style carving on the temple structure. </p>
            <p>From far-off places tourists and historians come to witness the spiritual hub of Mahakaleshwar. The Jyotirlinga is a self-originated structure and the temple showcases the architectural styles of Maratha, Bhumija and Chalukya.</p>
            <p>The temple is a five-level structure and each level houses different forms of Shiva naming the Omkareshwara Linga, Nagchandreshwar Linga, Sidhnath, Gupteshwar and Dhwajeshwar and Mahakaleshwar Jyotirlinga along with the images of Goddess Parvati, Ganesha, Kartikey and Nandi.</p>
            <h4>History and Spiritual Significance of Mahakaleshwar Jyotirlinga Temple</h4>
            <p>The Mahakaleshwar Temple dates back to the fourth century BC, as mentioned in the Matsya Purana and Avanti Khanda. The temple was adored even throughout the Mauryan, Sunga and Gupta kingdoms. The Paramara dynasty in the 11th century was behind the temple's development and significance.</p>
            <p> However, despite many hurdles, the temple maintained its holiness and served as a place of devotion.</p>
            <p>The Mahakaleshwar Jyotirlinga is mentioned in many ancient texts and chanting mantras which signify the spiritual culture and traditions of India.</p>
            <p>According to a legend, once Lord Shiva visited Earth to defeat a demon named Dushana he was making life miserable for sages and villagers. After defeating the demon, Lord Shiva appeared in the form of Mahakaleshwar Jyotirlinga, choosing to live in this holy city and shower his heavenly blessings ever since.</p>
            <p><strong>Temple Timings:</strong> 3:00 AM to 11:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Devi Ahilya Bai Holkar Airport <br><strong>Nearest Railway Station:</strong> Ujjain Junction</p>
            <p><strong>Special Attraction:</strong> The ritual of Bhasma Aarti is performed at the time of dawn when the Shivling is bathed in ashes taken from the funeral pyre which draws millions of devotees, especially in the month of Sawan and Nag Panchami.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/3.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/3.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/3.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="modal-custom" id="modal4">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>4. Omkareshwar - Madhya Pradesh</h2>
          <div class="desc-scroll">
            <p>Omkareshwar Jyotirlinga is the fourth Jyotirlinga dedicated to the Lord and is located in the exquisite setting of Mandhata Island surrounded by the Narmada River in Madhya Pradesh. </p>
            <p>The river amplifies the beauty of the temple and attracts lakhs of pilgrims every year. </p>
            <p>A huge flock of tourists and devotees visit the Omkareshwar Jyotirlinga especially during the festivals of Shivratri and Kartik Poornima to offer prayers and dive into the spirituality of the environment.</p>
            <p>The Jyotirlinga here brings out the charm of the Omkareshwar and Mamleshwar temples. The Mamleshwar temple and the Omkareshwar are separated by each other through a slim ridge. </p>
            <p>Hindu mythological books depict that the island where the Jyotirlinga lies is in the shape of the sacred symbol <strong>‘OM’</strong>.</p>
            <h4>History and Spiritual Significance of Omkareshwar Jyotirlinga Temple</h4>
            <p>The Omkareshwar Temple has a long history that is well documented in historical records. Many Puranas indicate the temple, discussing its significance and origins. </p>
            <p>Historians think the temple was built in the eleventh century by the Paramara Kings of Malwa. Omkareshwar was brutally destroyed by Muslim invaders in the 13th century. </p>
            <p>Later, in the nineteenth century, Holkar rulers (primarily Rani Ahalya Bai Holkar) reconstructed and repaired the temple to its current state.</p>
            <p>Many legendary stories and tales are associated with the Omkareshwar Jyotirlinga in Hindu mythology. According to one tale, 'Vindhya Parbat' performs devotion to satisfy Lord Shiva where Lord Shiva was pleased and granted Vindhya's aspiration to be larger than 'Meru Parbat'.</p>
            <p>The Linga that was worshipped by Vindhya Parbat was finally separated into two sections, 'Omkareshwar' and 'Mamleshwar', as requested by the gods and sages, symbolising the Shiva Lingam's wholeness.</p>
            <p>Another legend tells how King Mandhata and his sons pleased Lord Shiva through their mediation and Lord Shiva appeared in the form of Jyotirlinga.</p>
            <p>Some other tale describes how in a tremendous battle between the Devas and Asuras, Lord Shiva emerges as Omkareshwar.</p>
            <p><strong>Temple Timings:</strong> 05:00 AM to 10:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Devi Ahilya Bai Holkar Airport <br><strong>Nearest Railway Station:</strong> Ujjain Junction</p>
            <p><strong>Special Attraction:</strong> Every year at the time of the Maha Shivratri festival, a great carnival is organised along with a huge feast for the devotees.</p>
            <p></p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/4.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/4.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/4.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="modal-custom" id="modal5">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>5. Kedarnath Temple - Uttarakhand</h2>
          <div class="desc-scroll">
            <p>Kedarnath Jyotirlinga is the most significant temple among the temples of Chardham Yatra and the highest among the 12 Jyotirlingas of Lord Shiva, situated in Uttarakhand’s Rudraprayag region at an elevation of 3,584 metres.</p>
            <p>Kedarnath Temple is a Hindu temple dedicated to Lord Shiva. Located near the Mandakini river, Uttarakhand.</p>
            <p>Due to extreme weather conditions, the temple is open to the general public only between the months of April and November.</p>
            <p>The Kedarnath Dham is surrounded by snowy mountains and the river Mandakini flows in close proximity to the temple. Visiting the Jyotirlinga in the Himalayas will make one experience a sense of spirituality and peace in the environment there.</p>
            <p>The temple not only attracts pilgrims for its religious significance but also offers wonderful views of the mountainous ranges. </p>
            <p>The challenging route, harsh climate and high altitude make the pilgrimage tour a significant journey towards Lord Shiva.</p>
            <h4>History and Spiritual Significance of Kedarnath Jyotirlinga Temple</h4>
            <p>The history of the temple of Kedarnath dates back to the 8th century when a great philosopher <strong>"Adi Shankaracharya"</strong> is believed to have built the temple.</p>
            <p>He popularised the Hindu religion in the country by introducing the Chardham Yatra among the citizens.</p>
            <p>Another legend has it that the Pandavas built it when they went towards the Himalayas to get rid of their sins to attain salvation and perform penance to Lord Shiva.</p>
            <p><strong>Temple Timings:</strong> 04:00 AM to 09:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Jolly Grant Airport <br><strong>Nearest Railway Station:</strong> Rishikesh/Haridwar Railway Station</p>
            <p><strong>Special Attraction:</strong> It’s very surprising to witness that the aarti mantras are recited in the Kannada language in the temple.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/5.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/5.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/5.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="modal-custom" id="modal6">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>6. Bhimashankar - Maharashtra</h2>
          <div class="desc-scroll">
            <p>In the verdant Western Ghats of Maharashtra lies the sacred destination of Bhimashankar Jyotirlinga which showcases the perfect blend of spirituality and natural beauty. </p>
            <p>The Jyotirlinga is located close to the Bhima River which is the largest tributary of the Krishna River and is surrounded by the hills of the Sahyadri Range.</p>
            <p>Bhimashankar Jyotirlinga is among the twelve Jyotirlinga Shrines of Shiva which displays its rich culture and significance through its architectural wonder, the well-crafted Nagara style craftsmanship is a great reason for its attraction.</p>
            <p>The temple region is also a paradise for nature lovers and wildlife enthusiasts because of its recognised wildlife sanctuary that offers a peaceful and divine experience to visitors.</p>
            <h4>History and Spiritual Significance of Bhimashankar Jyotirlinga Temple</h4>
            <p>The temple is referenced in various ancient books, including the Shiva Purana, and its origins can be traced back to history. </p>
            <p> The structure of the temples expanded over the years, with several dynasties and emperors, notably the Chalukya and Maratha, contributing to its construction.</p>
            <p>The old legends and tales speak of Bhimashankar Jyotirlinga’s history where Lord Shiva appeared in the ‘Rudra’ form to defeat the demon Tripurasura.</p>
            <p>The demon was a great threat to the three realms of the universe: Heaven (Swarglok), Earth (Bhulok) and Netherworld (Patalok) as it was destroying everything that was in his way.</p>
            <p>Lord Shiva after defeating the demon rested on the Sahyadri Mountains and while resting, the sweat released from his body formed the Bhima River.</p>
            <p>The Gods and Goddesses asked Shiva to live here in these mountains in the form of Jyotirlinga which became a divine site of Bhimashankar Jyotirlinga.</p>
            <p>The Firefly Festival is held every year before the monsoon, where thousands of fireflies can be seen lighting up the village.</p>
            <p><strong>Temple Timings:</strong> 05:00 AM to 09:30 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Pune International Airport <br><strong>Nearest Railway Station:</strong>  Karjat Junction</p>
            <p><strong>Special Attraction:</strong> The wildlife sanctuary is a major site for witnessing the wild and the area is also dotted with other religious destinations like the Gupt Bhimashankar, the Hanuman Lake and many more.</p>
            <p> Mahashivratri is a very important day for worship.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/6.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/6.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/6.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 7 -->
  <div class="modal-custom" id="modal7">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>7. Kashi Vishwanath - Varanasi, UP</h2>
          <div class="desc-scroll">
            <p>In the sacred city of Varanasi, Kashi Vishwanath Jyotirlinga is among the Dwadasa Jyotirlinga which is located close to the banks of the Ganga River and captures the attention of millions of pilgrims to offer their prayers and seek blessings from Lord Shiva.</p>
            <p>The temple of Kashi Vishwanath is also known as the ‘Golden Temple of Varanasi’ because of its gold-plated dome.</p>
            <p>The Kashi Vishwanath beautifully represents the cycle of life and death. </p>
            <p>While wandering through the narrow lanes around the temple, visitors can hear the songs of the bells ringing, the view of the holy aartis and the feel of spirituality that will fill their hearts with wholesome divinity.</p>
            <p>The Kashi Vishwanath Temple has been a source of spiritual inspiration for many saints and sages.</p>
            <h4>History and Spiritual Significance of Kashi Vishwanath Jyotirlinga Temple</h4>
            <p>The history of the Kashi Vishwanath Jyotirlinga temple dates back to around 2500 years ago as it is believed that the temple was built by King Vikramaditya.</p>
            <p>The temple also occurs in the Kasha Kandra, an ancient document that the temple might be as old as the sixth century. The temple is even mentioned in several holy books of Hindus.</p>
            <p>The legendary story that is associated with the Jyotirlinga is that Lord Shiva presented himself as a beam of a huge pillar to solve the problem between Lord Brahma and Lord Vishnu where they would need to find the ends of the pillar to become the supreme power.</p>
            <p>No one succeeded in finding the ends of the pillar but Lord Brahma lied about the fact and made Shiva curse him to be not worshipped by anyone and gave the title of supremacy to Lord Vishnu.</p>
            <p>After the huge pillar disappeared from the three realms, a small portion of it remained here and became the Vishwanath Jyotirlinga.</p>
            <p><strong>Temple Timings:</strong> 03:00 AM to 11:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Lal Bahadur Shastri International Airport <br><strong>Nearest Railway Station:</strong>  Varanasi Junction</p>
            <p><strong>Special Attraction:</strong> People believe that while looking at the golden spire if one asks for a wish, it gets fulfilled.</p>
            <p>Also, it is believed that if a person lives or dies here will attain moksha.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/7.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/7.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/7.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 8 -->
  <div class="modal-custom" id="modal8">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>8. Trimbakeshwar - Nashik, Maharashtra</h2>
          <div class="desc-scroll">
            <p>Trimbakeshwar Jyotirlinga is captivated by the majestic mountains of Brahmagiri mountains in Nasik, Maharashtra dedicated to Lord Shiva. </p>
            <p> The sacred River Godavari near the temple is induced with a spiritual aura which offers tranquil views to the visitors.</p>
            <p>The Jyotirlinga has a huge significance among the pilgrims visiting the temple because it houses the lingam with three faces that represent Lord Shiva, Lord Brahma and Lord Vishnu. The Trimbakeshwar Jyotirlinga is among the popular Hindu temples in India because of its unique lingam and exquisite architecture.</p>
            <h4>History and Spiritual Significance of the Temple</h4>
            <p>The temple history of Trimbakeshwar says that the temple was originally constructed by Nana Saheb Peshwa, a Maratha ruler during the 18th century which amplifies the beauty and architectural greatness of the structure along with connecting its ties with the Hindu legends and texts.</p>
            <p>The temple's history also has a connection with the Kumbh Mela, a significant event held in the holy city of Nashik every 12 years.</p>
            <p>Many legendary tales are associated with Trimbakeshwar Jyotirlinga Temple, one such is where sage Gautam accidentally became the reason behind the death of a cow during his refuge in the Brahmagiri Hills.</p>
            <p> To get rid of his sin, he started worshipping Lord Shiva near the banks of the River Ganga to purify his soul. </p>
            <p>The water poured down as the Godavari, seeing this act of divine intervention, the gods praised Lord Shiva and begged him to reside here as the Trimbakeshwar Jyotirlinga. </p>
            <p>The holy pond where the Godavari originated in the temple premises is called Kushavarta. Another legendary tale speaks of Trimbakeshwar Jyotirlinga’s history where Lord Shiva appeared in the form of three lingas representing Brahma, Vishnu and Mahesh (Shiva).</p>
            <p><strong>Temple Timings:</strong> 05:30 AM to 09:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong>Nashik Airport <br><strong>Nearest Railway Station:</strong>   Nashik Road Railway Station</p>
            <p><strong>Special Attraction:</strong> The uniqueness of the Jyotirlinga is its three faced linga that attracts millions of devotees from all over the world.</p>
            <p>Pilgrims take a holy dip at ‘Kushavarta’, the birthplace of River Godavari.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/8.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/8.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/8.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 9 -->
  <div class="modal-custom" id="modal9">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>9. Vaidyanath - Jharkhand</h2>
          <div class="desc-scroll">
            <p>In the Jharkhand state of India lies the Baidyanath (Vaidyanath) Jyotirlinga which is believed to be one of the popular Lord Shiva temples in India because of its grand structure and religious significance among pilgrims.</p>
            <p>The Vaidyanath Jyotirlinga also called Baba Baidyanath Jyotirlinga which is located in the Deoghar district of Jharkhand, annually hosts the ‘Shravan Mela’ which attracts millions of devotees to offer holy water on the Shiv Linga to showcase their deep devotion towards him.</p>
            <p>The temple's sacred presence, together with Deoghar's peaceful surroundings, provides a place for spiritual refreshment for both devotees and tourists.</p>
            <p>Pilgrims visiting the Jyotirlinga of Vaidyanath highly believe that praying at this temple will bring health and wealth upon them.</p>
            <h4>History and Spiritual Significance of the Temple</h4>
            <p>The history of the temple goes back to the time of the last Gupta emperor, Adityasena Gupta of the 8th century AD. The temple maintained its importance even during the Mughal era of India.</p>
            <p>One of the most fascinating tales is associated with the Baba Baidyanath Jyotirlinga where the demon king, Ravana chopped down his 9 heads to win Lord Shiva’s attention. </p>
            <p>Shiva appeared in front of Ravana as a healer (Vaidya) and joined the heads to his body again which gave the name to the place as Baidyanath Dham.</p>
            <p>Another tale where Ravana asked Lord Shiva to make Lanka his home and gave him a linga in exchange. However, during his journey, Ravana was asked not to keep the lingam down.</p>
            <p>The gods started wondering and asked Varuna Dev to break his journey. Lord Varuna tricked Ravana by making him thirsty and appeared as a Brahmin to help him with the lingam. As Ravana went to comfort himself, Lord Vishnu laid the linga on the ground and disappeared.</p>
            <p>When Ravana returned, he discovered the linga which was anchored to the earth and couldn't move it. He understood that he was tricked and later bowed to it, which is now believed to be Deoghar.</p>
            <p><strong>Temple Timings:</strong> 04:00 AM to 09:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong>Atal Bihari Vajpayee International Airport <br><strong>Nearest Railway Station:</strong>   Jasidih Junction</p>
            <p><strong>Special Attraction: </strong><strong>‘Shravan Mela’</strong>  is annually hosted in the region which attracts lakhs of devotees for ‘Kanwar Yatra’ from different parts of the country.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/9.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/9.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/9.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 10 -->
  <div class="modal-custom" id="modal10">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>10. Nageshwar - Gujarat</h2>
          <div class="desc-scroll">
            <p>In the western region of India lies the Nageshwar Jyotirlinga in Gujarat which is dedicated to Lord Shiva. The name of the temple ‘Nageshwar’ means ‘Lord of Snakes’ which honours Shiva's victory over the demon Daruka.</p>
            <p>People believe that the Jyotirlinga has the power to protect from all kinds of poisons, especially snake poisons and the reference is also mentioned in the Sacred Rudra Samhita.</p>
            <p>The devotees are permitted to enter the sanctorum and conduct abhishek on the linga alongside the local priest, but only in traditional clothing. The site of the temple has a massive statue of a seated Shiva that can be viewed from a distance.</p>
            <p>Inside the temple, the Shiva’s structure is a symbol of peace and faith for the pilgrims. People visiting the temple of Nageshwar Jyotirlinga get to experience a peaceful environment and spiritual enlightenment.</p>
            <h4>History and spiritual significance of the Temple</h4>
            <p>The history of Nageshwar Temple has roots that trace back thousands of years and the current structure of the temple is quite modern as it has undergone many renovations. </p>
            <p>The current temple stands exactly at the same point where the previous temple used to be, as people believe the old temple is submerged underwater.</p>
            <p>Many tales and legendary stories are associated with the temple, one among them is mentioned in the Shiv Purana which tells the story of the demon named Daruka who was blessed by the boons of Goddess Parvati.</p>
            <p>Daruka misused the power to make the local villagers fear him and also imprisoned a devoted follower of Shiva, Supriya along with others. </p>
            <p>The followers of Shiva started praying to save them from this torture which made Daruka enraged. The demon went to harm Supriya but Lord Shiva appeared as a Jyotirlinga to act as a shield for everyone which is presently the Nageshwar Jyotirlinga today.</p>
            <p><strong>Temple Timings:</strong> 05:00 AM to 09:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Jamnagar Airport<br><strong>Nearest Railway Station:</strong>  Dwarka Junction</p>
            <p><strong>Special Attraction: </strong>Hindu pilgrims can conduct pujas and Abhishek inside the temple beside the priest only in traditional attire.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/10.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/10.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/10.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 11 -->
  <div class="modal-custom" id="modal11">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>11. Rameshwaram - Tamil Nadu</h2>
          <div class="desc-scroll">
            <p>The Ramanathaswamy Temple in Tamil Nadu houses the Rameshwaram Jyotirlinga which is a part of the Bada Chardham Yatra for Hindus along the 12 Jyotirlingas of India. </p>
            <p>The Jyotirlinga of Rameshwaram lies on the Pamban island of Tamil Nadu and people need to cross the Pamban bridge to reach the temple. Rameshwaram Temple has great significance among its devotees as it is a perfect example of belief, mythology and architecture.</p>
            <p>Both the Jyotirlinga Shrines of Ramalingam and Vishvalingam are placed side by side inside the sanctum where the idol of Vishvalingam is worshipped before the Ramalingam. </p>
            <p>The Ramanathaswamy Temple in the south represents Lord Rama's unbreakable devotion to Lord Shiva, as evidenced in its name, which means 'Master of Rama'.</p>
            <p>Other deities like <strong>'Lord Vinayaka', 'Lord Subrahmanya', and 'Parvathavardhini'</strong> also grace the temple.</p>
            <p>The temple surrounds many other significant sites such as <strong>‘Agnitheertham’, ‘Gandhamadhana Parvatham Temple’, ‘Panchmukhi Hanuman Temple’ and ‘Rama Setu’ </strong>among others.</p>
            <p>No Hindu’s journey is complete without a pilgrimage to both Varanasi and Rameswaram for the culmination of his quest for salvation and is hallowed by the epic ‘Ramayana’.</p>
            <h4>History and Spiritual Significance of the Temple</h4>
            <p>The history of the temple dates back to the 12th century when the construction of the temple began on Pamban Island and was completed in different eras by different rulers.</p>
            <p>According to a fascinating tale, the city of Rameshwaram became holy when Lord Rama started worshipping Lord Shiva after returning from Lanka where he defeated the Demon King Ravana.</p>
            <p>To get rid of his sin of killing Ravana and asking for penance, Rama started worshipping the Shivling. Hanuman was asked to bring a Shivling from the Himalayas but he delayed so in return, Goddess Sita made a Shivling out of the sand.</p>
            <p><strong>Temple Timings:</strong> 04:30 AM to 09:00 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Madurai Airport<br><strong>Nearest Railway Station:</strong> Rameshwaram Railway Station</p>
            <p><strong>Special Attraction: </strong><br><b>● </b>The festivals of Maha Shivaratri, Thirukalyanam, Mahalaya Amavasai and Thai Amavasai are celebrated with deep devotion and zeal.</p>
            <p><b>●</b> Devotees visiting the site must take a dip in the sacred 22 ‘theerthams’ (holy water tanks) before entering the inside structure of the Shivling.</p>
          </div>
          <a href="#" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/11.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/11.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/11.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 12 -->
  <div class="modal-custom" id="modal12">
    <div class="modal-custom-content">
      <span class="close-modal">&times;</span>
      <div class="modal-body-grid">
        <div class="modal-left-desc">
          <h2>12. Grishneshwar - Maharashtra</h2>
          <div class="desc-scroll">
            <p>Grishneshwar Jyotirlinga, a renowned lingam of Lord Shiva is situated near the Aurangabad city of Maharashtra. The Grishneshwar Temple is also known by the name of Ghushmeshwar Temple and the calm atmosphere and spiritual flavour of Ghrishneshwar continue to attract both pilgrims and visitors from different parts of the country.</p>
            <p>The architectural carvings and sculptures highlight the richness of the mediaeval Indian culture. Red and black stones were used for the construction of the 5 storied Shikara style structure. </p>
            <p>People visiting the temple can witness the carvings of Vishnu’s Dasavatar on the walls of the temple.</p>
            <h4>History and Spiritual Significance of the Temple</h4>
            <p>The origins of the Grishneshwar temple of Maharashtra date back to the 13th century. The Grishneshwar Temple which is also known as Gru Someshwara and Kusum Eswarar was built during the reign of Queen Ahilyabai Holkar, queen of the Malwa Kingdom during the 18th century.</p>
            <p>According to a legendary tale, the temple is believed to have been built by a woman named Ghushma or Kusuma who was a great devotee of Lord Shiva. </p>
            <p>As mentioned in the Shiv Purana, Ghushma’s son was killed by her sister and to overcome her grief, she started praying to Shiva and satisfied by her unwavering faith, Lord Shiva restored her son’s life. </p>
            <p>At Ghushma's request, Shiva manifested forever as the Grishneshwar Jyotirlinga at this location.</p>
            <p>This is the only Jyotirlinga temple in India, where you can find the carving of god Shiva, Goddess Parvati, god Ganesha, and Kartikeya sitting on Nandi with Goddess Mother Ganga on God Shiva’s forehead on top of the temple in white stone, which can be clearly seen from the south entry of the temple.</p>
            <p>There are Authorized panditjis (purohits) who have the birthright from centuries to perform all pujas Rituals like Rudra Abhishek puja, Jalabhishek Puja, Panchamrut Abhishek Puja and Laghurudra puja etc in Grushneshwar temple. They are the official pandit’s, who also have ancient namavali and holds the authenticity for performing various Pujas in temple. </p>
            <p>The Devotees/Yajmana who wish to have a pure connection to Lord Shiva can book priests of Grishneshwar Temple those are authorised Bramhavrind Purohits at this temple,and can <a href="https://www.grishneshwartemple.com/online-puja" target="_blank"><strong>book puja</strong></a> by their choice.</p>
            <p><strong><a href="https://www.grishneshwartemple.com/online-puja/rudrabhishek-puja" target="_blank"> Rudrabhishek puja</a>, <a href="https://www.grishneshwartemple.com/online-puja/jalabhishek-puja" target="_blank">Jalabhishek Puja</a>, <a href="https://www.grishneshwartemple.com/online-puja/panchamrit-puja" target="_blank">Panchamrut Abhishek Puja</a>, <a href="https://www.grishneshwartemple.com/online-puja/laghu-rudrabhishek-puja" target="_blank">Laghurudra Abhishek Puja</a>.</strong></p>
            <p><strong>Mahamrityunjay Jaap:</strong>It is a powerful chant that strengthens the mind, body, and spirit, bringing profound spiritual growth. Known as the mantra of immortality, it leads the devotee towards liberation (moksha). Through its sacred vibrations, it connects the soul to eternal divine energy and is read as </p>
            <p><strong>“ॐ त्र्य॑म्बकं यजामहे सु॒गन्धिं॑ पुष्टि॒वर्ध॑नम् । उ॒र्वा॒रु॒कमि॑व॒ बन्ध॑नान्मृ॒त्योर्मु॑क्षीय॒ माऽमृता॑॑त् ।।”</strong></p>
            <p>Ideally, one should chant it 108 times and it should be chanted while sitting in <strong>Gayatri Mudra</strong>.</p>
            <p><strong>Temple Timings:</strong> 05:00 AM to 09:30 PM</p>
            <h4>How to Reach?</h4>
            <p><strong>Nearest Airport:</strong> Aurangabad Airport<br><strong>Nearest Railway Station:</strong> Aurangabad Railway Station</p>
            <p><strong>Special Attraction: </strong>Visit the Ellora Caves, a UNESCO World Heritage Site adjacent to the Grishneshwar Jyotirlinga Temple.</p>
          </div>
          <a href="https://www.grishneshwartemple.com/" target="_blank" class="btn btn-outline-danger btn-sm">Learn More</a>
        </div>
        <div class="auto-slider">
          <div class="slide active" style="background-image:url('../assets/img/Jyotirlinga/12.1.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/12.2.jpg')"></div>
          <div class="slide" style="background-image:url('../assets/img/Jyotirlinga/12.3.jpg')"></div>
          <div class="slider-dots"><span class="dot active"></span><span class="dot"></span><span class="dot"></span></div>
        </div>
      </div>
    </div>
  </div>
       
<footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/Home" class="logo d-flex align-items-center">
            <span class="sitename"><img src="../assets/img/logo2.png" alt=""></span>
        </a>

          <div class="footer-contact pt-3">
            <p>Hyderabad</p>
            <p>Telangana, India</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 9876543210</span></p>
            <p><strong>Email:</strong> <span>info@darshan.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Aboutus">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="https://shlokam.org/index/" target="_blank">Slokas</a></li>
            <li><a href="#">Vedas</a></li>
            <li><a href="https://stotranidhi.com/books/" target="_blank">Books</a></li>
            <li><a href="https://shlokam.org/bhagavad-gita/" target="_blank">Bhagavad Gita</a></li>
            <li><a href="https://www.valmikiramayan.net/" target="_blank">Ramayanam</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our Darshan and services!</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Darshan - 2024</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="">Subbu</a>
      </div>
    </div>

  </footer>

  <!-- Scroll to Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Scripts -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/js/states.js"></script>
  <script src="../assets/js/main.js"></script>


    <!-- Vendor JS Files -->
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      AOS.init();

      const activeIntervals = new Map();

      // Open and Close Modal functionality
      document.querySelectorAll(".member").forEach(card => {
        card.addEventListener("click", () => {
          const modalId = card.getAttribute("data-target-modal");
          const modal = document.getElementById(modalId);
          if (modal) {
            modal.classList.add("show-modal");
            startAutoSlider(modal);
          }
        });
      });

      document.querySelectorAll(".modal-custom").forEach(modal => {
        const closeBtn = modal.querySelector(".close-modal");
        
        const closeModal = () => {
          modal.classList.remove("show-modal");
          stopAutoSlider(modal);
        };

        closeBtn.addEventListener("click", closeModal);
        window.addEventListener("click", (e) => {
          if (e.target === modal) closeModal();
        });
      });

      // Auto Slider Handler
      function startAutoSlider(modal) {
        if (activeIntervals.has(modal)) return;

        const slider = modal.querySelector(".auto-slider");
        if (!slider) return;

        const slides = slider.querySelectorAll(".slide");
        const dots = slider.querySelectorAll(".dot");
        let currentIndex = 0;

        const intervalId = setInterval(() => {
          slides[currentIndex].classList.remove("active");
          dots[currentIndex].classList.remove("active");

          currentIndex = (currentIndex + 1) % slides.length;

          slides[currentIndex].classList.add("active");
          dots[currentIndex].classList.add("active");
        }, 3500);

        activeIntervals.set(modal, intervalId);
      }

      function stopAutoSlider(modal) {
        if (activeIntervals.has(modal)) {
          clearInterval(activeIntervals.get(modal));
          activeIntervals.delete(modal);
        }
      }
    

    // Scroll to Top Button Functionality
      const scrollTopBtn = document.getElementById("scroll-top");
      window.addEventListener("scroll", () => {
        if (window.scrollY > 150) {
          scrollTopBtn.classList.add("active");
        } else {
          scrollTopBtn.classList.remove("active");
        }
      });

      scrollTopBtn.addEventListener("click", (e) => {
        e.preventDefault();
        window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      });
    });
  </script>
</main>
</body>

</html>